@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-u55moo');
	src:url('fonts/icomoon.eot?#iefix-u55moo') format('embedded-opentype'),
		url('fonts/icomoon.woff?-u55moo') format('woff'),
		url('fonts/icomoon.ttf?-u55moo') format('truetype'),
		url('fonts/icomoon.svg?-u55moo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\e600";
}
.icon-list:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e605";
}
