.row.button-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

#fileUpload {
  display: none;
}

.button.button-camera {
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
